@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  --font-poppin: "Poppins", sans-serif;
  --font-letter: "Crimson Text", serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-meidum: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --color-new: #34c134;
  --color-hot: #ff3a3a;
  --color-trending: #ec7501;
  --white: #fff;
  --black: #000;
  --yellow: #c69a02;
  --red: #ef5050;
  --blue: #5173a6;
  --bg-shop: #ebf7f2;
  --bg-slide-happy: #f7ebeb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* html::-webkit-scrollbar {
  width: 0 !important;
  display: none;
} */
/* header */

/* custorm slide */
.flickity-button:focus {
  outline: none;
  box-shadow: none;
}
/* app */
.app {
  position: relative;
}
.header {
  width: 100%;
  max-width: 1770px;
  margin: 0 auto;
  height: 122px;
  background-color: transparent;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
}
.header-active {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
}
.header .icon-menu {
  font-size: 30px;
  display: none;
  margin: 10px;
}
.header .icon-menu:hover {
  cursor: pointer;
}
.main-header .logo__app {
  width: 167px;
  margin-left: 8px;
}

.main-header .nav-item {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: var(--font-weight-meidum);
}
.navbar {
  height: 100%;
  font-family: var(--font-poppin);
}
.navbar .main-menu {
  flex: auto;
}
.navbar-nav .nav-link {
  color: var(--white);
  font-family: var(--font-poppin);

  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-right: 44px;
  font-weight: var(--font-weight-meidum);
  line-height: 32px;
  position: relative;
}
.navbar-nav .nav-item {
  padding: 25px 0;
}

.nav-item .title-label {
  font-family: var(--font-poppin);
  font-weight: var(--font-weight-regular);
  position: absolute;
  top: -5px;
  right: -19px;
  background-color: #000;
  color: var(--white);
  text-transform: capitalize;
  padding: 0 5px;
  border-radius: 9px;
  text-align: center;
  min-width: 34px;
  display: inline-block;
  line-height: 18px;
  font-size: 10px;
}
.nav-item .new {
  background-color: var(--color-new);
}
.nav-item .hot {
  background-color: var(--color-hot);
}
.header-control {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: auto;
}

.header-control > a {
  padding: 0 9px;
  text-decoration: none;
  color: #000;
  position: relative;
}
.header-control svg {
  width: 20px;
  height: 20px;
  stroke: var(--white);
}
.header-control .count {
  position: absolute;
  top: -11px;
  right: -8px;
  height: 17px;
  min-width: 17px;
  text-align: center;
  color: var(--black);
  background-color: #fff;
  border-radius: 100%;
  font-size: 10px;
  vertical-align: top;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* content */
/* slider */
.slideshow {
  margin-bottom: 50px;
}
.slideshow .item-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-left: 0;
  padding-right: 0;
}
.slideshow .item-slide img {
  z-index: 1;
}
.flickity-prev-next-button.previous {
  visibility: hidden;
}
.flickity-prev-next-button.next {
  visibility: hidden;
}

.slide-content {
  color: var(--black);
  position: absolute;
  z-index: 2;
  top: 48%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
  margin-left: 240px;
}
.slideshow .slide-content .content {
  max-width: 620px;
}
.item-slide .subtitle {
  font-family: var(--font-poppin);
  font-size: 16px;
  margin: 0 0 18px;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: var(--white);
  font-weight: var(--font-weight-meidum);
}
.item-slide .title {
  font-size: 70px;
  font-family: var(--font-poppin);
  line-height: 78px;
  margin-bottom: 24px;
  font-weight: var(--font-weight-light);
  outline: none;
  color: var(--white);
}
.item-slide .button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-poppin);
  font-weight: var(--font-weight-regular);
  text-align: center;
  font-size: 14px;
  color: #fff;
  background-color: #000;
  line-height: 48px;
  border: none;
  padding: 0 15px;
  display: inline-block;
  vertical-align: text-bottom;
  margin-top: 20px;
  text-decoration: none;
  min-width: 182px;
}
.item-slide .button:hover {
  background-color: var(--white);
  color: var(--black);
}
img {
  height: auto;
  max-width: 100%;
}
.slideshow .flickity-page-dots {
  bottom: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slideshow .flickity-page-dots .dot {
  margin: 0 11px;
  background-color: var(--white);
  opacity: 1;
}
.slideshow .flickity-page-dots .dot.is-selected {
  position: relative;
}
.slideshow .flickity-page-dots .dot.is-selected {
  width: 7px;
  height: 7px;
}
.slideshow .flickity-page-dots .is-selected.dot::after {
  position: absolute;
  content: "";
  top: -5px;
  right: 0;
  left: -5px;
  bottom: 0;
  width: 17px;
  height: 17px;
  border: 1px solid var(--white);
  border-radius: 50%;
}
.body-container {
  width: 100%;
  max-width: 1770px;
  margin: 0 auto;
  padding: 20px 15px 0 15px;
  position: relative;
}
.body-content {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.category-section {
  height: 100%;
  padding: 5px 0;
}
.body-container .category-head {
  margin-bottom: 80px;
}
.category-section .category-item {
  padding: 0 20px;
}
.category-head .category-des {
  font-family: var(--font-poppin);
  text-align: center;
  color: #000;
  font-weight: var(--font-weight-regular);
}
.category-head .category-des h2 {
  font-family: var(--font-poppin);
  font-size: 34px;
  font-weight: var(--font-weight-regular);
}
.category-des > span {
  font-size: 14px;
  font-weight: var(--font-weight-regular);
  color: #868686;
}
.category-section .lamp {
  display: flex;
  justify-content: center;
  margin: 182px 0 90px 0;
}
.category-section .accessories {
  display: flex;
  justify-content: flex-end;
}
.category-inner {
  text-align: center;
  max-width: 496px;
  max-height: 580px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.category-inner .category-thumb {
  display: inline-block;
  vertical-align: top;
  height: 100%;
}

.category-inner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.category-inner .category-btn {
  min-width: 222px;
  position: absolute;
  width: max-content;
  height: max-content;
  padding: 30px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  max-width: 90%;
  background-color: #fff;
  text-align: center;

  color: #000;
  font-family: var(--font-poppin);
  font-size: 22px;
  font-weight: var(--font-weight-regular);
}
.category-btn a {
  padding: 5px 25px;
  text-decoration: none;
  color: #000;
  font-family: var(--font-poppin);
  font-size: 22px;
  font-weight: var(--font-weight-regular);
}
.category-inner .category-btn:hover {
  background-color: rgba(255, 255, 255, 0.5);

  cursor: pointer;
}

/* product slide */
.unsen-product {
  margin-bottom: 40px;
}
.unsen-product.container {
  width: 100%;
  max-width: 1770px;
  padding-top: 82px;
}
.unsen-product .head {
  font-weight: var(--font-weight-regular);
  color: #000;
  font-family: var(--font-poppin);
  text-align: center;
  margin-bottom: 45px;
}
.unsen-product .head .title {
  font-size: 32px;
  color: #000;
  line-height: 32px;
  margin-bottom: 20px;
  font-weight: var(--font-weight-regular);
  font-family: var(--font-poppin);
}
.unsen-product .head .des {
  font-size: 14px;
  color: #868686;
  margin: 0 auto;
  max-width: 500px;
  font-weight: var(--font-weight-regular);
  font-family: var(--font-poppin);
}
.unsen-product .product-slide {
  padding-bottom: 60px;
}
.unsen-product .product-item {
  text-align: center;
  padding: 0 15px;
}
.col-xl-15 {
  flex: 0 0 20%;
  max-width: 20%;
}
.product-inner {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 0 auto;
  text-align: center;
}
.product-inner .thumb-img img {
  transition: 0.35s;
}
.product-inner:hover .thumb-img > img {
  transform: scale(1.1);
}
.product-inner .product-thumnail {
  position: relative;
  overflow: hidden;
}
.product-thumnail .sale {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
}
.product-inner .favorite {
  position: absolute;
  top: 8px;
  right: 19px;

  display: flex;
  justify-content: flex-end;

  text-align: center;

  z-index: 1;
}
.favorite a {
  font-size: 14px;
  color: #000000;
  background-color: #fff;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.favorite .material-symbols-outlined {
  font-size: 16px;
}
.favorite a:hover {
  cursor: pointer;
  background-color: var(--red);
  color: #fff;
}

.product-thumnail .new {
  display: inline-block;
  min-width: 47px;
  margin-right: 5px;
  line-height: 23px;
  text-transform: capitalize;
  font-size: 12px;
  font-weight: var(--font-weight-regular);
  font-family: var(--font-poppin);
  color: #000;
  background-color: var(--white);
  border-radius: 12px;
  text-align: center;
}
.product-thumnail .quality {
  display: inline-block;
  min-width: 47px;
  margin-right: 5px;
  line-height: 23px;
  text-transform: capitalize;
  font-size: 12px;
  color: var(--red);
  font-weight: var(--font-weight-regular);
  background-color: var(--white);
  font-family: var(--font-poppin);
  border-radius: 12px;
  text-align: center;
}
.product-thumnail .trending {
  display: inline-block;
  min-width: 47px;
  margin-right: 5px;
  line-height: 23px;
  text-transform: capitalize;
  font-size: 12px;
  color: var(--color-trending);
  background-color: var(--white);
  font-weight: var(--font-weight-regular);
  font-family: var(--font-poppin);
  border-radius: 12px;
  padding: 0 5px;
  text-align: center;
}
.product-inner .product-info {
  position: relative;
  padding: 25px 0;
}
.product-inner .product-title {
  font-size: 14px;
  color: #000;
  margin-bottom: 4px;
  display: block;
}
.product-inner .product-title a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-weight: var(--font-weight-regular);
  font-family: var(--font-poppin);
}
.productinnerm .product-title span {
  font-size: 14px;
}
.product-inner .price {
  font-size: 14px;
  color: #868686;
  margin-bottom: 0;
  font-weight: var(--font-weight-regular);
  font-family: var(--font-poppin);
}
.product-inner .price-new {
  color: var(--red);
}
.product-inner .price-sale {
  color: #868686;
  text-decoration: line-through;
  font-family: var(--font-poppin);
  font-weight: var(--font-weight-regular);
  font-size: 12px;
}
.product-inner .group-color {
  display: block;
  margin-top: 3px;
  margin-bottom: 5px;
}
.product-inner .list-color {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 0;
  font-size: 0;
}
.product-inner .list-color li {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 20px;
  margin-right: 10px;
}
.product-inner .list-color li a {
  width: 14px;
  height: 14px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;

  display: inline-block;
  vertical-align: top;
  position: relative;
}

.product-inner .list-color li a::before {
  border: solid 1px rgba(0, 0, 0, 0.2);
  background-color: transparent;
  content: "";
  position: absolute;
  z-index: 1;
  top: -3px;
  left: -3px;
  right: 1px;
  bottom: 0;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  width: 20px;
  height: 20px;
}
.product-inner .list-color .blue {
  background-color: var(--blue);
}
.product-inner .list-color .red {
  background-color: var(--red);
}

.product-inner .list-color .yellow {
  background-color: var(--yellow);
}

.product-slide .flickity-page-dots {
  bottom: -34px;
}

/* shop container */
.shop-content {
  background-color: var(--bg-shop);
  padding-top: 90px;
  padding-bottom: 40px;
}
.shop-content .head {
  display: flex;
  justify-content: center;
  font-size: 32px;
  font-family: var(--font-poppin);
  font-weight: var(--font-weight-regular);
}
.shop-content .head h3 {
  font-size: 32px;
  font-family: var(--font-poppin);
  font-weight: var(--font-weight-regular);
}
.shop-content .container {
  width: 100%;
  max-width: 1440px;
}
.shop-item svg {
  width: 60px;
  height: 60px;
}
.shop-content .shop-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.shop-item .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 50px 0;
}
.shop-item .item .subtitle h4 {
  font-size: 16px;
  font-family: var(--font-poppin);
  font-weight: var(--font-weight-meidum);
}
.shop-item .item .title span {
  font-size: 13px;
  font-family: var(--font-poppin);
  font-weight: var(--font-weight-regular);
  color: #868686;
}
.shop-item .item .item-des {
  margin: 33px 0;
}
/* sell */
.sell-content {
  padding-top: 80px;
}
.sell-content .container {
  width: 100%;
  max-width: 1770px;
}
.sell-content .head {
  text-align: center;
}
.sell-content .sell-slide {
  margin-top: 84px;
}
.sell-content .product-inner {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sell-content .product-item {
  padding: 0 25px;
}

.sell-content .subtitle {
  margin-bottom: 20px;
}
.sell-container .subtitle h3 {
  font-size: 32px;
  font-weight: var(--font-weight-regular);
  font-family: var(--font-poppin);
}
.sell-container .title span {
  font-size: 14px;
  font-weight: var(--font-weight-regular);
  font-family: var(--font-poppin);
  color: #868686;
}
/* happy */
.happy-content {
  background-color: var(--bg-slide-happy);
  margin-top: 80px;
}
.happy-content .container {
  width: 100%;
  max-width: 1440px;
  padding-top: 100px;
  padding-bottom: 80px;
}
.happy-content .head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.happy-content .subtitle h3 {
  font-weight: var(--font-weight-regular);
  font-size: 32px;
  font-family: var(--font-poppin);
  color: #000;
}
.happy-content .title span {
  font-size: 22px;
  font-weight: var(--font-weight-regular);
  color: #868686;
  font-style: italic;
  font-family: var(--font-letter);
}
.happy-content .title {
  margin: 24px 0;
}
.happy-content .avatar {
  max-width: 108px;
  max-height: 108px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 50%;
}
.happy-content img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.happy-content .fullname {
  margin: 20px 0 -10px 0;
}
.happy-content .fullname h6 {
  font-size: 16px;
  font-weight: var(--font-weight-meidum);
  font-family: var(--font-poppin);
}
.happy-content .job h7 {
  font-size: 14px;
  font-family: var(--font-weight-regular);
  font-family: var(--font-poppin);
  color: #868686;
}
.happy-content .flickity-page-dots {
  visibility: hidden;
}
.happy-content .flickity-button {
  background: url("../assets/icon/right-arrow.svg") no-repeat;
  width: 30px;
  height: 30px;
}
.happy-content .flickity-prev-next-button.previous {
  visibility: visible;
  transform: rotate(180deg);
  left: -3px;
  top: 44%;
}
.happy-content .flickity-prev-next-button .flickity-button-icon {
  visibility: hidden;
}
.happy-content .flickity-prev-next-button.next {
  visibility: visible;
  right: -3px;
  top: 48%;
}
/* logo */
.logo-content {
  max-height: 197px;
  height: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 26px 0;
}
.logo-content .logo-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-content .container {
  width: 100%;

  max-width: 1440px;
}
.logo-content img {
  width: 100%;
  height: 100%;
  max-width: 200px;
  max-height: 140px;
}
.logo-content .logo-thumb {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-content .flickity-page-dots {
  display: none;
}
/* footer */
.footer-content {
  padding-top: 45px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.footer-content .container {
  width: 100%;
  max-width: 1440px;
}

.footer-content ul li {
  list-style: none;
  text-align: left;
}
.footer-content ul,
ol {
  padding-left: 0;
}
.footer-content .subtitle {
  font-size: 13px;
  font-family: var(--font-poppin);
  font-weight: var(--font-weight-meidum);
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer-content .title-item a {
  font-size: 13px;
  font-weight: var(--font-weight-regular);
  color: #868686;
  font-family: var(--font-poppin);
}
.footer-content .title-item {
  margin: 10px 0;
}
.footer-content .title-item a:hover {
  color: #000;
}
.footer-content .follow-me ul {
  display: flex;
}
.footer-content a {
  text-decoration: none;
  color: #000;
  text-align: left;
}
.footer-content .sale-subtitle {
  margin-bottom: 35px;
}
.footer-content .sale-subtitle h3 {
  font-size: 26px;
  font-weight: var(--font-weight-regular);
  font-family: var(--font-poppin);
  color: #000;
  margin-bottom: 20px;
}
.footer-content .sale-subtitle h5 {
  font-size: 13px;
  font-weight: var(--font-weight-regular);
  font-family: var(--font-poppin);
  color: #868686;
  margin-bottom: 20px;
}
.footer-content .form-contact {
  position: relative;
}
.footer-content .input {
  width: 100%;
  outline: none;
  padding: 4px 0;
  border: none;
  border-bottom: 2px solid #000;
  font-family: var(--font-poppin);
  font-size: 13px;
  font-weight: var(--font-weight-regular);
  color: #868686;
}
.footer-content .button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  background-color: transparent;
  border: none;
  outline: none;
  font-weight: var(--font-weight-meidum);
  font-size: 12px;
  font-family: var(--font-poppin);
  color: #000;
  transition: 0.35s;
  letter-spacing: 1px;
}
.footer-content .button:hover {
  background-color: #000;
  color: #fff;
}
.footer-content .follow-me {
  padding: 30px 0;
}
.footer-content .follow-me li {
  position: relative;
  padding: 11px 15px;
  text-align: center;
  margin: 10px 5px;
}
.footer-content .follow-me li:hover {
  cursor: pointer;
}
.footer-content .follow-me li::before {
  content: "";
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;

  border: 1px solid #000;
}
/* copyright */
.copyright-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}
.footer-copyright .container {
  width: 100%;
  max-width: 1440px;
}
.footer-copyright ul {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  justify-content: center;
}
.footer-copyright ul li {
  list-style: none;
  margin: 0 14px;
}
.footer-copyright .copyright-source {
  text-align: center;
  font-size: 12px;
  font-weight: var(--font-weight-regular);
  color: #838383;
  font-family: var(--font-poppin);
}
.footer-copyright img {
  width: 100%;
  height: 100%;
  max-width: 52px;
  max-height: 32px;
}
.footer-copyright .img_visa {
  width: 50px;
  height: 30px;
}
.footer-copyright-active {
  padding-bottom: 50px;
}
/* modal */
.modal-content {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
  transform: translateX(-100%);
  transition: 0.35s;
}
.modal-content .modal-container {
  height: 100%;
}
.modal-content .modal-section {
  background-color: #fff;
}
.modal-content .close-modal {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content .icon-close {
  font-size: 30px;
  transition: 0.5s;
}
.modal-content .icon-close:hover {
  cursor: pointer;
  transform: rotate(360deg);
}
.modal-content-active {
  transform: translateX(0);
}
.modal-content a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  padding: 10px;
}
.modal-content a:hover {
  cursor: pointer;
}

.modal-content ul li {
  list-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding: 10px;
}
.modal-content ul li:last-child {
  border: none;
}
.modal-content .head {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 100%;
  max-height: 50px;
}

.modal-content ul,
ol {
  padding-left: 0;
}
.modal-content .modal-search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}
.modal-search input {
  width: 80%;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.head-control-footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 1);
  color: #000;
  visibility: visible;
  z-index: 12;
  display: none;
}
.head-control-footer .head-content {
  margin: 0 auto;
  justify-content: space-between;
}
.head-control-footer .head-content {
  display: flex;
}
.head-control-footer .head-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  position: relative;
}
.head-item a {
  text-decoration: none;
  color: unset;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}
.head-item svg {
  font-size: 30px;
}
